@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.post {
  &__footer {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__comments {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
  }

}

@include breakpoint-sm {
  .post {
    lost-column: 7/12;

    &__inner {
      padding: 30px 20px;
    }

  }

}

@include breakpoint-md {
  .post {
    lost-column: 2/3;

    &__inner {
      padding: 40px 35px;
    }

  }

}